body {
  width: 600px;
  height: 400px;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(24, 24, 24, 0.95);
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-box {
  color: #fff !important;
  border-color: #fff !important;
}

.MuiBox-root {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 32px;
}

p {
  font-size: 14px !important;
  margin-top: 5px !important;
  margin-bottom: 15px !important;
}

label {
  color: #fff !important;
}

.bottom-text {
  margin-top: 10px !important;
}

.powered-text {
  position: fixed;
  bottom: 5px;
}

.powered-text a {
  color: #f5ecef;
}

.Mui-disabled {
  -webkit-text-fill-color: unset !important;
}

label.Mui-focused {
  color: '#fff';
}

.MuiInput-underline:after {
  border-color: '#fff';
  color: '#fff';
}

.MuiOutlinedInput-root fieldset {
  border: #fff 1px solid !important;
}

.MuiOutlinedInput:hover fieldset {
  border: #fff 1px solid !important;
  color: '#fff' !important;
}

.Mui-focused fieldset {
  border: #fff 1px solid !important;
  color: '#fff' !important;
}

.Mui-disabled fieldset {
  opacity: 0;
  color: '#fff';
}

.Mui-disabled input {
  color: '#fff';
}

.Mui-disabled {
  -webkit-text-fill-color: '#fff';
}
